html {
    background:#000;
}

body {
    color:#fff;
    font:normal 140%/1.4 Georgia,"Times New Roman",serif;
    margin:0 auto;
    max-width:980px;
    text-align:center;
}

h1 {
    display:inline-block;
    font-size:300%;
    margin-bottom:0.2em;
    position:relative;
}
h1:after {
    content:"\2604";
    left:calc(100% + 0.25em);
    position:absolute;
}

a {
    color:gold;
    text-decoration:none;
}
a:hover {
    text-shadow:0 0 8px gold;
}

.launch-link {
    position:relative;
}
.launch-link:after {
    content:"\25BA";
    left:calc(100% + 0.25em);
    position:absolute;
}

footer {
    font-size:0.7em;
}